<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Django RSS</title>
    {% block css %}
        <link href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% block js %}
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
    {% endblock js %}
</body>
</html>